@import './_reset.css';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  display: inline-flex;
  align-items: center;
  font-size: 96px;

  & img {
    width: 100px;
    height: 100px;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}
